.bold {
    font-weight: bold;
}
.black {
    color: #000000;
}
.red {
    color: #FF0000;
}
.yellow {
    color: #FFFF00;
}
.white {
    color: #FFFFFF;
}
.contactA {
    color: #000;
    text-decoration: none;
}
.contactA:hover {
    text-decoration: underline;
}