.section_contact {
    min-height: 200px;

    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 20px 0;
}

.HeroWelcome {
    font-size: 50px;
    font-weight: bold;
    color: #333;
}

.contact_content {
    font-size: 20px;
}

.contact_a {
    color: #000;
    text-decoration: none;
}

.contact_a:hover {
    text-decoration: underline;
}

@media (max-width: 800px) {
    .contact_content {
    font-size: 17px;
    line-height: 1.6;
    color: #333;
    }
    
}