footer {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;        
    flex-direction: column;    
    text-align: center; 
    height: 150px;
}

.legal {
    display: flex;
    justify-content: center;
    font-size: 13.5px;
    margin-top: 10px;
    gap: 15px;
}

.legal a {
    color: #000;
    text-decoration: none;
}

.legal a:hover {
    text-decoration: underline;
}

.else {
    display: flex;
    justify-content: center;
    font-size: 13.5px;
    margin-top: 10px;
    gap: 15px;
}

.else a {
    color: #000;
    text-decoration: none;
}

.else a:hover {
    text-decoration: underline;
}
.version {
    font-size: 13.5px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.copyright {
    font-size: 13.5px;
    margin-top: 5px;
}

.copyright a {
    color: #000;
    text-decoration: none;
}

.copyright a:hover {
    text-decoration: underline;
}