.section_about {
    min-height: 200px;
    
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    width: 100%;
    height: auto;
    padding: 20px 0;
}

.content {
    max-width: 800px;
    width: 100%;
    padding: 0 20px;
}

.about_content {
    font-size: 20px;
    line-height: 1.6;
    color: #333;
}
@media (max-width: 800px) {
    .about_content {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    }
}